<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- Load in properties file from game.properties on classpath -->
	<context:property-placeholder location="classpath:game.properties"/>
	
    <!-- Define your beans here -->
    <bean id="fortune"
    	class="com.goodtime_demo.HappyFortuneService">
    </bean>
    
    <bean id="ball" 
    	class="com.goodtime_demo.BaseballCoach"> 
    	<!-- Constructor's DI -->
    	<constructor-arg ref="fortune"> </constructor-arg>
    </bean>
    
    <bean id="volley"
    
    	class="com.goodtime_demo.VolleyballCoach" scope="singleton" >
    	<property name="myFortuneService" ref="fortune"></property>
    	<property name="emailAddress" value="${foo.email}"></property>
    	<property name="team" value="${foo.team}"></property>
    
    </bean>
    	
    
</beans>





